.body {
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;

}

/* Sign-in class styles */
.signin {
    background-color: white;
    padding: 20px 40px;
    text-align: center;
    box-shadow: 10px 10px 20px rgb(91, 187, 107);
    border-radius: 10px 20px;
    width: 50%; /* adjust the width as desired */
    margin: 0 auto; /* center the container horizontally */
  }

  /* Heading styles */
.signin h2 {
    margin-bottom: 20px;
    color: #333;
  }
  
/* Form styles */
.signin form {
margin-bottom: 20px;
}

/* Input field styles */
.signin input {
margin-bottom: 10px;
padding: 10px;
width: 80%;
border: 1px solid #ccc;
border-radius: 5px;
font-size: 16px;
}

/* Button styles */
.signin button {
background-color: #4CAF50;
color: white;
padding: 10px 30px;
border: none;
font-size: 16px;
margin-top: 10px;
transition: background-color 0.3s ease;
cursor: pointer;
}

/* Button hover effect */
.signin button:hover {
background-color: #3E8E41;
}

/* Link styles */
.signin a {
color: red;
text-decoration: none;
transition: color 0.3s ease;
}

.signin a:hover {
color: #4d29c5;
}


